body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#book {
  width: 90vw;
  height: 90vh;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
}
